{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}

    <div class="'container">
        <form action="" class="form">
            <span class="top-text" >Login</span>
            <input type="text" placeholder="Username" class="username" name="uname">
            <input type="password" placeholder="Password" class="password" name="upass">
            <a href="/prof">
                <input type="button"  class="register" value="Login"></a>
            <a href="/registration">
            <input type="button"  class="register" value="Registration"></a>
        </form>
    </div>


{% endblock %}

